<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>731278831877-utip10tl5aguivd4urjmheo2ptvc31q2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.731278831877-utip10tl5aguivd4urjmheo2ptvc31q2</string>
	<key>API_KEY</key>
	<string>AIzaSyBtIdQY4cgDRzLl5Ye8prhUIghuSIba-ts</string>
	<key>GCM_SENDER_ID</key>
	<string>731278831877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseAuth</string>
	<key>PROJECT_ID</key>
	<string>flutterfire-ui-codelab-e053c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfire-ui-codelab-e053c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731278831877:ios:be5a964420505acf44876c</string>
</dict>
</plist>